@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  background: #000000;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 0 0 0;
}

a {
  color: #05E9FF;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    color: #FFFFFF;
    text-align: center;

}
h2 {
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
}
p {
  text-align: center;
}

img {
    display: block;
    margin: auto;
    height:270px;
    width:360px;
}

.wrapper {
  padding: 6em 2em 4em;
}

.wrapper.style1 {
  background-image: url("background.jpg");
  background-position: right top;
}

.wrapper.style1 h1{
    font-size: 3em;
}
.wrapper.style2 {
    background-color: #828282	;
    color: #fff;
    text-align: center top;
}
.wrapper.style2 h1{
    color: #000000;
    text-align: center top;
}

.wrapper.style2 h2{
    color: #05E9FF;
}
.wrapper.style3 {
    background-color: #FFFFFF;
    color: #000000;
}
.wrapper.style3 h1 {
    color: #000000;
}
.wrapper.style3 h2 {
    color: #828282;
}
.wrapper.style3 p {
    color: #000000;
}
.wrapper.footer {
    padding: 2em 2em 2em;
    background-color: #000000;
    color: #ffffff;
}
