@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #424242;
  font-family: 'Roboto Thin', sans-serif;
  margin: 0 0 0 0;
  text-align: center;
}

a {
  color: aqua;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    height:270px;
    width:360px;
}
.page-header{
  color: white;
}

.page-header h1{
  font-size: 50px;
}

.page-header h2{
  font-size: 25px;
}

.jumbotron{
  color:black;
  font-size: 12px;
}
.jumbotron p{
  font-size: 16px;
  margin: 0cm 1cm;
}

.jumbotron h1{
  font-size: 40px;
}
.jumbotron h2{
  font-size: 25px;
}

.jumbotron.style1{
  background-color: #1976D2;
  color: white;
  font-size: 12px;
  padding: 1em 1em 4em;
}

.jumbotron.style2{
  background-color: #37474F;
  color: white;
  font-size: 12px;
  padding: 1em 1em 4em;
}

.jumbotron.style3{
  background-color: #3F51B5;
  color: white;
  font-size: 12px;
  padding: 1em 1em 4em;
}
